
<div class="container text-center my-5">
  <h1>CSV importing</h1>
  <p>Please select your files</p>
  <%= form_tag csv_imports_path, multipart: true, :class => "form" do%>
  <div class="justify-content-around ml-3">
    <div class="card row p-2 m-auto" style="width: 18rem;">
      <div class="col-12">
      <%= label_tag "Select first csv file (EMIS)" %>
      <%= file_field_tag :file1 %>
      </div>
    </div>
    <div class="mt-3"></div>
    <div class="card row p-2 m-auto" style="width: 18rem;">
      <div class="col-12">
        <%= label_tag "Select second csv file (Payroll)" %>
        <%= file_field_tag :file2 %>
      </div>
    </div>
  </div>
</div>
  <div class="container mx-auto" style="width: 150px;">
    <%= submit_tag "Import csv files"%>
  </div>
  <% end %>
